:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  }

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --bg-main: #010101;
    --bg-card1: #FFFFFF12;
    --bg-card2: #101010;
    --border-main: #FFFFFF24;
    --font-main: #FCFCFC;
  }
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-Light.otf') format('opentype');
  font-weight: 200;
  font-style: light;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-LightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: light;
  font-style: italic;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src: url('/fonts/AeonikTRIAL-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-style: italic;
}
